@media ( min-width: 1024px ){


    /* Estilos Header */
    header{
        background-image: url('../assets/images/backgroud-desktop.jpg');
        height: 500px;
        .menu{
            padding-top: 15px;
            ul{
                li{
                    a{
                        margin-right: 20px;
                        font-size: 20px;
                        position: relative;
                        &:before{
                            content: "";
                            width: 0%;
                            height: 2px;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background: rgba(#5115B1, .75);
                            transition: .5s ease;
                        }
                        &:hover{
                            &:before{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .contenedor-texto{
            padding: 20px 0px;
            .texto{
                padding-bottom: -10px;
                h2{
                    font-weight: 100;
                    font-size: 58px;
                }
                .profesion{
                    width: 95%;
                    font-size: 30px;
                }
            }
        }
    }
        

    /* Estilos acerca de */
    .contenedor-acerca {
        .contenedor-foto{
            position: relative;
            width: 175px;
            top: -105px !important;
        }
        .contenedor-acerca-info{
            top: -150px;
            h3{
                margin-top: 30px;
            }
            p{
                margin-bottom: 15px;
                line-height: 23px;
                width: 50%;
                font-size: 1.08em;
                &:last-child{
                    margin-bottom: 10px;
                }
                a{
                    position: relative;
                    border-bottom: none;
                    &:before{
                        content: "";
                        display: block;
                        width: 0%;
                        height: 2px;
                        background: #0af5f4;
                        position: absolute;
                        left: 50%;
                        bottom:0;
                        transition: .5s ease;
                    }
                    &:hover{
                        &:before{
                            left: 0%;
                            width: 100%;
                        }
                    }
                }
            }
            
        }
    }


    /* Estilo proyectos */
    .contenedor-proyectos{
        margin: 0px auto;
        margin-top: 300px;
        .container-cards{
            justify-content: space-around;
            .proyecto-card{
                width: 20%;
                margin-bottom: 20px;
                .imagen{
                    filter: grayscale(1);
                    transition: .4s ease;
                }
                &:hover{
                    transform: translateY(-10px);
                    .imagen{
                        filter: grayscale(0);
                    }
                }
                .contenido-proyecto{
                    p{
                        font-size: 18px;
                    }
                } 
            }
        }
    }


    /* Estilos Servicios */
    .contenedor-servicios{
        .contenedor-cards{
            .card-habilidades{
                width: 35%;
                .card-info{
                    p{
                        box-sizing: border-box;
                        padding: 0px 35px;
                    }
                }
            }
        }
    } 

    // Estilos contactame
    .contenedor-contactame{
        .container-cards{
            a{
                i{
                    font-size: 2.4em;
                    margin-bottom: 5px;

                }
                p{
                    font-size: 1.2em;
                }
            }

        }
    }

    /* Estilos Certificados */

    .contenedor-certificados{
        .container-cards{
            padding: 20px 0px;
            .card{
                width: 25%;

            }
        }
    }

    /* Estilos Footer */

    footer{
        padding: 20px;  
        background: linear-gradient(-20deg, #369ea5 0%, #29878D 50%,#369ea5 100% );
    }

    footer p{
        font-size: 18px;
    }

    .redes a{
        margin-right: 10px;
    }
}