@media ( min-width: 768px ){

    h3{
        font-size: 1.35em;
        font-weight: 400;
    }

    
    /* Estilos header */

    header{
        // Menu Style
        .menu{
            transform: translateX(0);
            padding-top: 10px;
            width: 100%;
            height: 30px;
            display: flex;
            position: initial;
            .menu-icon{
                display: none;
            }
            ul{
                padding: 0px;
                width: 100%;
                height: 30px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                z-index: 200;
                opacity: 1;
                li{
                    margin-top: 0px;
                    a{
                        color: rgb(31, 18, 18);
                        background: rgba(#f2f2f2, .05);
                        border-radius: 5px;
                        margin-right: 10px;
                        margin-left: 0px;
                        font-size: 16px;
                        font-weight: 300;
                        i{
                            display: none;
                        }
                    }
                }
            }
        } 

        //fix responsive menu style
        .menu-activo{
            background: transparent;
            width: 100%;
            height: 1px;
        }
        
        // Text style
        .contenedor-texto{
            .texto{
                z-index: 100;
                .profesion{
                    width: 100%;
                }
            }
        }
    }


    /* Estilos acerca de */
    .acerca{
        h3{
            margin-bottom: 10px;
        }
        .contenedor-info{
            width: 90%;
            margin: auto;
            flex-direction: row;
            align-items: center;
            padding-bottom: 30px;
            .contenedor-foto{
                width: 45%;
            }
            .contenedor-acerca-info{
                width: 55%;
                p{
                    margin: 0px auto;
                    margin-bottom: 8px;
                    width: 90%;
                    font-size: 16px;
                    &:last-child{
                        margin-bottom: 10px;
                    }
                }
                
            }
        }
    }


    /* Estilos proyectos */
    .proyectos{
        padding-bottom: 40px;
        .titulo-proyectos{
            h3{
                margin-bottom: 20px;
            }
        }
        .container-cards{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .proyecto-card{
                width: 30%;
                margin-bottom: 20px;
                // &:hover{
                //     transform: translateY(-10px);
                // }
                .contenido-proyecto{
                    h3{
                        font-size: 18px;
                    }
                }
            }
        }
    }


    /* Estilos servicios */
    .servicios {
        .contenedor-cards{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            .card-habilidades{
                width: 45%;
            }
        }
    }


    /* Estilos contactame */
    .contactame{
        margin: 20px 0px;
        .formulario{
            max-width: 80%;
            margin: 24px auto;
            form{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .form-input{
                    display: flex;
                    flex-direction: column;
                    width: 48%;
                    &:nth-child(3){
                        width: 100%;
                        label{
                            margin: 4px 2px;
                        }
                        small{
                            &:nth-child(2){
                                margin: 0px;
                            }
                        }
                        textarea{
                            order: 4;
                            min-height: 180px;
                            font-size: 1em;
                        }
                    }
                    small{
                        margin: 0px;
                        margin-top: -10px;
                        margin-bottom: 10px;
                        order: 3;
                    }
                    label{
                        order: 1;
                        margin-bottom: 0px;
                        small{
                            margin: 0px;
                        }
                    }
                    input{
                        order: 2;
                        margin-bottom: 15px;
                        margin-top: 4px;
                    }
                }
                button{
                    margin: 0px 24px;
                }
                .respuesta{
                    width: 100%;
                }
                .respuesta > p{
                    padding: 16px;
                }
            }
        }

        .container-cards{
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            a{
                padding: 0px;
                margin: 8px 0px;
                width: 50%;
                p{
                    display: block;
                    margin: 4px auto;
                    small{
                        display: block;
                        color: rgba(#ccc, .85);
                    }
                }
            }
        }
    }


    /* Estilos Certificado */

    .certificados{
        padding-bottom: 20px;
        .container-cards{
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            align-items: flex-start;
            .card{
                width: 45%;
                margin-left: 10px;
            }
        }
    }


    /* Estilos Footer */

    footer{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0px;
        background: linear-gradient(-20deg, #369ea5 0%, #29878D 50%,#369ea5 100% );
        p{
            font-size: 15px;
            display: inline-block;
        }
        .redes{
            margin-bottom: 0px;
        }
    }

}