.header__main-container {
  animation: fadeHeader 0.4s ease;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.6), transparent),
    url("https://res.cloudinary.com/djcs4ctjx/image/upload/v1623701759/bg-mobile_b7mejm.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  position: relative;
  &::before {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.2),
      white
    );
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.header__title-content {
  left: 0%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}

.header__title-welcome {
  color: darken($color: $dark-gray, $amount: 10);
  font-size: 2.33rem;
}

.header__title-presentation {
  color: darken($color: $dark-gray, $amount: 8);
  font-size: 1.33rem;
}

.header__title-project {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 3px;
    background: $primary;
  }
}

@media (min-width: 768px) {
  .header__main-container {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.6), transparent),
      url("https://res.cloudinary.com/djcs4ctjx/image/upload/v1623701759/bg-desktop_rhaz67.jpg");
  }
}
